# Environments
venv/
env/
.env

# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore contents of these folders, but keep the folders themselves
logs/crashes/*
!logs/crashes/.gitkeep

logs/runtime/*
!logs/runtime/.gitkeep

storage/cache/*
!storage/cache/.gitkeep

storage/logs/*
!storage/logs/.gitkeep

projects/generated_projects/*
!projects/generated_projects/.gitkeep
